# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

dist/
_build/
poetry.lock
.hypothesis/
.idea/

### VisualStudioCode template
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
